:root {
  --primary: #14213D;
  --secondary: #FCA311;
  --tertiary: #E5E5E5;

}

ul {
    list-style-type: none;
}

body {
    background-color: var(--primary);
}

.icon {
    width: 4rem !important;
    height: auto;
}

.no-text-deco {
    text-decoration: none !important;
}

.is-clickable:hover {
    color: var(--secondary) !important;
    cursor: pointer;
    transition: 0.2s;
}

.submit {
    background-color: var(--secondary);
}